{% for m in menu %} 
<!--
    m это словарь который является элементом списка в menu здесь мы 
    парсим этот словарь для того чтобы отобразить текст списка меню и 
    одновременно присвоить ему ссылку на функцию через url
-->    
    {% if not forloop.last %}
    <!-- Проверка на то последний ли элемент сейчас идет по циклу из menu-->
        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
    {% else %}
        <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
    {% endif %} 
{% endfor %}
